/*
Theme Name: Menukaart Frontpage
Author: Web & App Easy B.V.
Author URI: https://www.webandappeasy.com
Description: Compleet thema voor het realiseren van een digitale online menukaart.
Version: 1.0
Textdomain: demenukaart
Tags: digitaal, menukaart, restaurant, café, hotel, online menu
 */

/* Homepage styling */
body#homepage {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

/* Single menucard styling */
#single-menucard {
    flex: auto!important;
}
#single-menucard .custom-control-label::before {
    top: 0.1rem;
    width: 1.25rem;
    height: 1.25rem;
}
#single-menucard .custom-control-label::after {
    top: 0.1rem;
    width: 1.25rem;
    height: 1.25rem;
}

/* Menu styling */
.menu-body {
    font-family: 'Poppins';
}

.product-image {
    max-width: 70px;
}
.logo-image {
    max-width: 200px;
    max-height: 100px;
}
.allergen-image {
    max-height: 50px;
}

/* Page styling */
.container {
    max-width: 960px;
}

/* Filter */
.filter-div {
    display: none;
}
  
.show {
    display: block;
}

/* Slider image background and opacity */
.project-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.4);  
    padding: 50%;
}

/* Contact form styling */
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_text input[type=text] {
    border-radius: 3px;
    padding-left: 10px!important;
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_email input {
    border-radius: 3px;
    padding-left: 10px!important;
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_phone input {
    border-radius: 3px;
    padding-left: 10px!important;
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_textarea textarea {
    border-radius: 3px;
    padding-left: 10px!important;
}
body .gform_wrapper .gform_footer input[type=submit] {
    color: #fff!important;
    border-color: #fff!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body .gform_wrapper .gform_footer input[type=submit]:hover {
    color: #343a40!important;
    border-color: #fff;
    background-color: #fff;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label .gfield_required {
    color: white
}
/* Nav styling */
.navbar-nav-scroll {
    max-width: 100%;
    height: 54px;
    overflow: hidden;
    overflow-x: auto;
    align-content: flex-start;
  }
  
  .nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  * {
    padding: 0px;
    margin: 0px;
}

/* Shopping cart */
/* [PAGE & WRAPPER] */

#cart-wrap { 
display: flex; 
max-width: 1000px;
}
#cart-products { width: 70% }
#cart-list { width: 30% }
#cart-products, #cart-list { padding: 20px }

/* [PRODUCTS] */
#cart-products {
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 10px;
}
.p-item {
padding: 10px;
border: 1px solid #e8f0ff;
background: #f2f7ff;
}
.p-img {
display: block;
margin: 0 auto;
}
.p-name {
font-weight: bold;
font-size: 1.1em;
}
.p-price {
color: #f44242;
}
.p-desc {
color: #888;
font-size: 0.9em;
}
.p-add {
background: #cfe1ff;
border: none;
width: 100%;
padding: 10px;
}

/* [CART LIST] */
#cart-list div.c-item:nth-child(odd) {
background: #f2f2f2
}
.c-item {
padding: 10px;
margin-bottom: 10px;
}
.c-qty, .c-name {
display: inline-block;
}
.c-qty {
margin-right: 10px;
width: 30px;
}
.c-empty, .c-checkout {
border: none;
width: 100%;
padding: 10px;
}
.c-empty {
background: #ffe1cf;
}
.c-checkout {
background: #d6ffcf;
}
.product-input {
    width: 3rem;
    border-style: solid;
}