.navbar-nav-scroll {
  max-width: 100%;
  height: 54px;
  overflow: hidden;
  overflow-x: auto;
  align-content: flex-start;
}

.nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

* {
  padding: 0px;
  margin: 0px;
}

