/* Overview system styling */
#example-table {
  margin-right: 20px;
}

/* Badge for PrintNode response on Settings page */
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.badge.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.taxonomy-product-choices .term-description-wrap {
  display: none;
}

.taxonomy-product-choices .term-slug-wrap {
  display: none;
}
