body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-image: url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center;
    
    h1 {
        a {
            background-image: url('../img/logo.svg') !important;
        }
    }

    a {
        color: #007bff !important;
        outline: none !important;
        box-shadow: none !important;

        &:hover {
            color:#0056b3 !important;
            text-decoration: underline !important;
        }
    }

    #login {
        width: 90%;
        max-width: 350px;
    }

    label {
        font-size: 1rem !important;
    }

    .message {
        padding: .75rem 1.25rem !important;
        color: #004085;
        background-color: #cce5ff !important;
        border-color: #cce5ff;
        border-left: none !important;
        border: 1px solid transparent;
        border-radius: .25rem;

        a {
            text-decoration: underline;
            color: #004085 !important;
        }
    }

    #login_error {
        padding: .75rem 1.25rem !important;
        color: #721c24;
        background-color: #f8d7da !important;
        border-left: none !important;
        border-color: #f8d7da;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    form {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        padding: 1.5rem;
        border-radius: .25rem;
        border: none;

        input {
            border: 1px solid #ced4da !important;
            border-width: 1px !important;
            font-size: 1.25rem !important;
            line-height: 1.5 !important;
            padding: .5rem 1rem !important;
            border-radius: .3rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

            &:focus {
                border-color: #80bdff !important;
                outline: 0 !important;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
            }

            &.button-primary {
                margin-top: 15px !important;
                width: 100%;
                background-color: #007bff !important;
                border-color: #007bff !important;
                font-size: 1.25rem !important;
                border-radius: .3rem !important;
                line-height: 1.5 !important;
                padding: .5rem 1rem !important;
                border: 1px solid transparent;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                &:hover {
                    background-color: #0069d9 !important;
                    border-color: #0069d9 !important;
                }

                &:focus {
                    background-color: #007bff !important;
                    border-color: #007bff !important;
                    outline: 0 !important;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
                }

                &:disabled {
                    color: #fff !important;
                    background-color: #007bff !important;
                    border-color: #007bff !important;
                    opacity: .65 !important;
                }
            }

            &#rememberme, &#pw-weak {
                left: -9999px;
                padding: 0 !important;
                position: absolute;
                width: 1rem;
                height: 1rem;
                transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                &:checked {
                    &:before {
                        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                    }
                }

                &:focus {
                    &:after {
                        border-color: #007bff;
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
                    }
                }
                &:before {
                    position: absolute;
                    top: -.25rem;
                    left: calc(9999px - .5rem);
                    display: block;
                    font-size: 1rem;
                    line-height: 1;
                    transform: scale(.5);
                    padding: .5em;
                    width: 1rem;
                    height: 1rem;
                    border: #007bff solid 1px;
                    background-color: #007bff;
                    color: #fff;
                    border-radius: .25rem;
                    margin: 0;
                    z-index: 99;
                    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }

                &:after {
                    position: absolute;
                    top: .25rem;
                    left: 9999px;
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    content: "";
                    border: #adb5bd solid 1px;
                    border-radius: .25rem;
                    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
            }
        }

        .h-captcha {
            text-align: center;

            iframe {
                width: 302px !important;
                height: 76px !important;
            }
        }

        .forgetmenot {
            position: relative;
            margin-top: 10px;

            label {
                margin-left: 1.5rem;
            }
        }

        .pw-weak {
            position: relative;

            label {
                margin-left: 1.5rem;
            }
        }
    }

    .button {
        &.wp-hide-pw {
            width: 3rem !important;
            height: 3rem !important;
            color: #007bff;

            &:focus {
                background-color: transparent !important;
                border-color: transparent !important;
                outline: none !important;
                box-shadow: none !important; 
            }

            &:hover {
                color:#0056b3 !important;
            }
        }
    }

    #nav {
        padding: 0;
        margin: 24px 0;
        text-align: center;
    }

    #backtoblog {
        display: none;
    }
}