* {
    &:focus {
        box-shadow: none !important;
    }
}

.scan-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    overflow: hidden;

    video {
        height: 100%;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        opacity: 0;
    }

    canvas {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    button {
        position: absolute;
        bottom: 2em;
        left: calc(50% - 73px);
        margin: auto;
    }
}

.wpml-ls-legacy-dropdown-click {
    width: auto;

    .wpml-ls-current-language {
        &:hover>a {
            background: transparent;
        }
    }

    a {
        padding: 10px;
        border: 1px solid #dee2e6;

        &.wpml-ls-item-toggle {
            padding: 0;
            padding-right: calc(10px + .7em);
            background-color: transparent;
            border: none;

            &:after {
                right: 0;
                color: rgba(255, 255, 255, .5);
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    .wpml-ls-sub-menu {
        margin-top: 8px;
    }
}

main {
    margin-top: 70px;
    margin-bottom: 65px;

    .search-bar {
        margin-top: 56px;
        z-index: 999;

        .input-group-append {
            #reset-search {
                display: none;
            }
        }

        #search {
            position: relative;

            &:not(:placeholder-shown) + .input-group-append {
                #reset-search {
                    display: inherit;
                }
            }
        }
    }
    
    .menu-scroller {
        margin-top: 111px;
    }
    
    #menu-content {
        margin-top: 97px;

        .thumb {
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: center;
        }
    }

    #order-content {
        .amount {
            min-width: 10px;
            text-align: center;
        }
    }

    #receipt-container {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 10px;
            top: -10px;
            left: 0;
            transform: rotate(180deg);
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%);
            background-size: 20px 40px;
            background-position: 50% -30px;
            background-repeat: repeat-x;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 10px;
            bottom: -10px;
            left: 0;
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%);
            background-size: 20px 40px;
            background-position: 50% -30px;
            background-repeat: repeat-x;
            z-index: 1;
        }

        .receipt-logo {
            max-height: 75px;
            max-width: 200px;
            filter: grayscale(1);

            img {
                max-height: 75px;
                max-width: 200px;
                filter: grayscale(1);
            }
        }
    }
}

.card {
    cursor: pointer;

    .card-body {

        .container {
            min-height: 75px;
        }
    }
}

li {
    &.wpml-ls-menu-item {
        ul {
            li {
                a {
                    width: auto;
                }
            }
        }
    }
}

#menu-items {
    z-index: 999;
    min-height: 57px;

    ul {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .nav-link {
        color: #212529;

        &.active {
            color: #007bff;
        }
    }
}

.badge {
    &.order {
        top: 8px;
        left: calc(50% + 5px);
        font-size: 10px;
        width: 20px;
        height: 20px;
        padding: 0;
        line-height: 20px;
    }
}

.modal {

    .modal-footer {
        input[type=number] {
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                display: none;
            }
        }
    }

    .custom-control-label {
        cursor: pointer !important;
    }

    .allergen {
        width: 50px;
        height: 50px;
    }

    .allergen-text {
        font-size: 10px;
    }

    svg {
        width: 100px;
        display: block;
        margin: 40px auto 0;
    }
      
    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;

        &.circle {
            -webkit-animation: dash .9s ease-in-out;
            animation: dash .9s ease-in-out;
        }

        &.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash .9s .35s ease-in-out forwards;
            animation: dash .9s .35s ease-in-out forwards;
        }

        &.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check .9s .35s ease-in-out forwards;
            animation: dash-check .9s .35s ease-in-out forwards;
        }
    }
      
      
    @-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
      
    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
      
    @-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }
      
    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }
      
}