*:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.scan-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #000;
  overflow: hidden;
}

.scan-container video {
  height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 0;
}

.scan-container canvas {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.scan-container button {
  position: absolute;
  bottom: 2em;
  left: calc(50% - 73px);
  margin: auto;
}

.wpml-ls-legacy-dropdown-click {
  width: auto;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover > a {
  background: transparent;
}

.wpml-ls-legacy-dropdown-click a {
  padding: 10px;
  border: 1px solid #dee2e6;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
  padding: 0;
  padding-right: calc(10px + .7em);
  background-color: transparent;
  border: none;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:hover {
  background-color: transparent;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
  margin-top: 8px;
}

main {
  margin-top: 70px;
  margin-bottom: 65px;
}

main .search-bar {
  margin-top: 56px;
  z-index: 999;
}

main .search-bar .input-group-append #reset-search {
  display: none;
}

main .search-bar #search {
  position: relative;
}

main .search-bar #search:not(:placeholder-shown) + .input-group-append #reset-search {
  display: inherit;
}

main .menu-scroller {
  margin-top: 111px;
}

main #menu-content {
  margin-top: 97px;
}

main #menu-content .thumb {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
}

main #order-content .amount {
  min-width: 10px;
  text-align: center;
}

main #receipt-container {
  position: relative;
}

main #receipt-container:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 20px 40px;
  background-position: 50% -30px;
  background-repeat: repeat-x;
  z-index: 1;
}

main #receipt-container:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  bottom: -10px;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 20px 40px;
  background-position: 50% -30px;
  background-repeat: repeat-x;
  z-index: 1;
}

main #receipt-container .receipt-logo {
  max-height: 75px;
  max-width: 200px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main #receipt-container .receipt-logo img {
  max-height: 75px;
  max-width: 200px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.card {
  cursor: pointer;
}

.card .card-body .container {
  min-height: 75px;
}

li.wpml-ls-menu-item ul li a {
  width: auto;
}

#menu-items {
  z-index: 999;
  min-height: 57px;
}

#menu-items ul {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#menu-items ul::-webkit-scrollbar {
  display: none;
}

#menu-items .nav-link {
  color: #212529;
}

#menu-items .nav-link.active {
  color: #007bff;
}

.badge.order {
  top: 8px;
  left: calc(50% + 5px);
  font-size: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
}

.modal .modal-footer input[type=number]::-webkit-inner-spin-button, .modal .modal-footer input[type=number]::-webkit-outer-spin-button {
  display: none;
}

.modal .custom-control-label {
  cursor: pointer !important;
}

.modal .allergen {
  width: 50px;
  height: 50px;
}

.modal .allergen-text {
  font-size: 10px;
}

.modal svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.modal .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.modal .path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.modal .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.modal .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
